.contacto h1 {
    color: #551911;
    padding-bottom: 13%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.contacto form {
    color: #2B0504;
    font-family: 'Montserrat', sans-serif;
}

.contacto label {
    color: #2B0504;
}

.contacto button {
    background: none;
    border: 2px solid #551911;
    padding: 6px 25px;
    border-radius: 30px;
    color: #551911;
    font-size: 20px;
    transition: background-color 0.3s;
}

.contacto button:hover {
    background-color: #551911;
    color: #fff;
}

.mapa {
    place-items: center;
}

.mapa {
    width: 700px;
    height: auto;
    border-color: #2B0504;
    margin-bottom: 3%;
    transition: transform 0.5s ease;
}

.mapa:hover {
    transform: scale(1.1);
}

.mapa-aslan-home {
    width: 200%;
}