button {
    background: none;
    border: 2px solid $accent-color;
    padding: 6px 25px;
    border-radius: 30px;
    color: $accent-color;
    font-size: 20px;
}

a.conocer-mas-button {
    background-color: $accent-color;
    text-align: center;
    color: #fff;
}
