/* Estilos del encabezado */
.logo {
    width: 100%;
}

.header-sitio {
    background: #FFEFD8;
}

nav {
    text-align: right;
}

header ul {
    list-style-type: none;
    width: fit-content;
    display: block;
    float: right;
    text-transform: capitalize;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: #551911;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #551911;
    color: #FFEFD8;
}