.header-sitio {
    background: $primary-color;
}

nav {
    text-align: right;
}

header ul {
    list-style-type: none;
    width: fit-content;
    display: block;
    float: right;
    text-transform: capitalize;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: $accent-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: $accent-color;
    color: $primary-color;
}
